# For uploading the package to PyPI
POETRY_PYPI_TOKEN_PYPI=

# LLM pipeline
LLM_API_KEY=
LLM_API_BASE_URL=
LLM_MODEL=
LLM_TEMPERATURE=0.0
LLM_MAX_OUTPUT_TOKENS=1000

# Scraper settings
SCRAPER_USER_AGENT=
SCRAPER_DOWNLOAD_DELAY=1.0
SCRAPER_CONCURRENT_REQUESTS=4
SCRAPER_FEED_URI=
SCRAPER_EXPORT_BATCH_ITEM_COUNT=10000
SCRAPER_JOBDIR=.jobs
